<!DOCTYPE html>
<html>
  <head>
    <link href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/shift.css" rel="stylesheet">
    
    <link rel="stylesheet" href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/bootstrap.css">
    <link rel="stylesheet" href="/static/agogee/about.css">
  </head>
  <body>
   <div class="image">
  <div class ="jumbotron">
  <div class= "container">
  </div>
  </div>
<div class="menu">
<div class="row">
<div class="span8">
<ul class="nav nav-pills">
   <li><a href="/agogee/"><font color="#FFFFFF">Home</font></a></li>
   <li><a href="/agogee/profile/"><font color="#FFFFFF">Profile</font></a><li>
   <li><a href="/agogee/events/"><font color="#FFFFFF">Events</font></a></li>
   <li><a href="/agogee/community/"><font color="#FFFFFF">Community</font></a></li>
</div>
</div>
</div>
</ul>

<aside class="aboutBG">
     <article>
        <h3>What is Agogee?</h3>
           <p>An online community for Spartans by Spartans!</p>
           <p>
      </article>
    </aside>

  <body>
  </body>
  </html>
