{% extends "base.html" %}


{%block content%}
    <title>Community</title>
    <h2> Community</h2>
    {% if is_paginated %}
    <ol start="{{ page_obj.start_index }}">
        {% else %}
        <ol>
            {% endif %}
            
            {% for post in object_list %}
            <li>
                <a href="{{ post.url }}">
                    <b>{{ post.title }}</b>
                </a>
            </li>
            {% endfor %}
        </ol>
        
        
        {% if is_paginated %}
        <div class="pagination">
            {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">More &raquo;</a>
            {% endif %}
        </div>
        {% endif %}

{%endblock%}


