<!DOCTYPE html>
<html>
  <head>
    <link href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/shift.css" rel="stylesheet">
    
    <link rel="stylesheet" href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/bootstrap.css">
    <link rel="stylesheet" href="community.css">
  </head>
<div class="menu">
<div class="row">
<div class="span8">
<ul class="nav nav-pills">
   <li><a href="spartanMain.html"><font color="#FFFFFF">Home</font></a><li>
   <li><a href="profile.html"><font color="#FFFFFF">Profile</font></a></li>
   <li><a href="events.html"><font color="#FFFFFF">Events</font></a></li>
   <li><a href="#"><font color="#FFFFFF">About</font></a></li>
</div>
</div>
</div>
</ul>

  <body>
  </body>
  </html>
