<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="/static/agogee/login.css">
        <head>
            <title>Agogee Login</title>
        </head>
        <div class="container">
            
            <form id="signup">
                
                <div class="header">
                    
                    <h3>Agogee Login</h3>
                    
                    <p>Enter your login information</p>
                    
                </div>
                
                <form id="login form" method="post" action="/agogee/login/">
                    {% csrf_token %}
                    Username: <input type="text" name="username" value="" size="50"><br/>
                        Password: <input type="password" name="password" value="" size="50" /><br/>
                        
                        <input type="submit" value="submit" />
                        </form>
                
                </div>
        
</html>