<!DOCTYPE html>
<html>

  <head>
    <link href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/shift.css" rel="stylesheet">
    
    <link rel="stylesheet" href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/bootstrap.css">
    <link rel="stylesheet" href="/static/agogee/profile.css">
  </head>

  <body>
  <div class ="jumbotron">
  <div class= "container">
  </div>
  </div>

<div class="menu">
<div class="row">
<div class="span8">
<ul class="nav nav-pills">
   <li><a href="spartanMain.html"><font color="#FFFFFF">Home</font></a><li>
   <li><a href="events.html"><font color="#FFFFFF">Events</font></a></li>
   <li><a href="community.html"><font color="#FFFFFF">Community</font></a></li>
   <li><a href="about.html"><font color="#FFFFFF">About</font></a></li>
   </div>
    <div class="image">
   	 <img src= "http://0.gravatar.com/avatar/ad516503a11cd5ca435acc9bb6523536?s=152"></img>
  </div>
</div>
</div>
</div>
</div>
</ul>

<div class="hero-unit">
       <h1> Profile <h1> <br/>
     <h2>{{ user.username }}</h2>
       <p>Email: {{ user.email }}</p>
       
      {% if userprofile %}
     <p>Website: <a href="{{ userprofile.website }}">{{userprofile.website}}</a></p>
           <br/>
        {% if userprofile.picture %}
     <img src="{{ userprofile.picture.url }}"  />
        {% endif %}
      {% endif %}
     <h2>Stats</h2>
     <p>Total active minutes: {{ active_minutes }}</p>
     <p>Total calories burned: {{ calories_burned }}</p>


</div>

  </body>
  </html>
