<!DOCTYPE html>
<html>
	<link rel="stylesheet" href="/static/agogee/register.css">
	<div class="container">

	{% if registered %}
		<strong>Thank you for registering!</strong>
		<a href="/agogee/">Home</a><br />
		{% else %}
	

    <form id="signup" method="post" action="/agogee/register/" enctype="multipart/form-data">

        <div class="header">
        
            <h3>Register for Agogee!</h3>
            
            <p>Fill out this form</p>
            
        </div>

		<form id = "user_form" method = "post" action = "/agogee/register/" enctype = "multipart/form-data">


			{% csrf_token %}

			{{ user_form.as_p }}
			{{ profile_form.as_p }}

			<input type = "submit" name = "submit" value = "Register" />

		</form>
		
		{% endif %}

	</div>

</html>